

<div (mouseenter) = "usmiech=true" (mouseleave) = "usmiech=false">
  <h1 *ngIf="!usmiech">
    Sklep TaIib
  </h1>
  <h1 *ngIf="usmiech">
  Sklep TaIib :)
  </h1>
</div>

<p> 
    <button (click)="wyswietlTabele = !wyswietlTabele"> 
    {{wyswietlTabele ? 'Ukryj Produkty' : 'Pokaż Produkty'}} 

  </button> 

</p> 


<div *ngIf="wyswietlTabele"> 
  <app-tabela *ngFor="let pr of produkty" [produkt]="pr" (DodanoDoKoszyka)="onDodanoDoKoszyka($event)">
  </app-tabela>
  
  
</div> 
<br>
<app-koszyk [wartosc]="wartoscKoszyka" (Wyczysc)="wyczysc()">


</app-koszyk>